.container {
  display: flex;
  flex-direction: column;
  min-width: 400px;
}

.column {
  display: flex;
}

.title {
  padding: 10px 20px;
  font-size: 16px;
}

.desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description {
  padding: 0 10px 10px;
  text-align: left;
}

.img {
  float: left;
  margin-right: 10px;
  height: auto;
  width: auto;
  max-width: 200px;
  max-height: 200px;
}

.button {
  display: inline-block;
  text-decoration: none;
  margin: 10px auto;
  color: #fff;
  background-color: #14bd34;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  line-height: 1.42857143;
  border-radius: 4px;
  user-select: none;

  &:hover {
    color: #fff;
    background-color: #109b2b;
  }

  &:focus {
    outline: none;
  }
}
