.title {
  padding: 10px 20px;
  font-size: 18px;
}

.description {
  font-size: 14px;
  padding: 10px 10px 0;
  margin-bottom: 10px;
  text-align: left;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.img {
  width: 100%;
}

.button {
  font-size: 16px;
  display: inline-block;
  text-decoration: none;
  margin: 10px auto;
  color: #fff;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  background-color: #14bd34;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  border-radius: 4px;
  user-select: none;

  &:hover {
    color: #fff;
    background-color: #109b2b;
  }

  &:focus {
    outline: none;
  }
}
