#tb_widget {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid black;
  text-align: center;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Arial, sans-serif;
}

#tb_link {
  display: inline-block;
  margin: 10px 0;
  box-shadow: none;
  color: #858585;
  font-weight: 400;
  border-radius: 0;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  background-color: transparent;
  border: 1px solid transparent;
  user-select: none;
  text-decoration: underline;

  &:hover,
  &:focus {
    color: #858585;
    text-decoration: none;
    background-color: transparent;
  }
}
